@charset "UTF-8";

:root
{
    --secondary-color: #ffffff;
    --primary-color: #e11392;
    --font-family: Arial, Helvetica, sans-serif;
}
body
{
    font-family: var(--font-family);
    background-image: linear-gradient(to bottom,#e11392, #df67d7, #6c466e, #4b2e40);
    color:#ffffff;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}
header > img {                /*logo da empresa*/
    display: block;
    margin: 20px auto;
    max-width: 150px;
}
header > img:hover {          /*logo da empresa*/
    transform: scale(1.1);
    transition: transform 0.3s;
}
nav {
    margin: auto;
    padding: 10px;
    text-align: center;
}
nav a {
    color: var(--secondary-color);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    background-color: transparent;
    padding: 5px 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
nav a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}
main img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.589) 0px 5px 10px 0px;
}
h2 {
    text-align: center;
    margin-top: 30px;
}
.galeria {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.galeria img {
    width: 200px;
    height: auto;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    transition: transform 0.3s;
}
.galeria img:hover {
    transform: scale(1.1);
}
footer h3 {
    text-align: center;
    color: var(--secondary-color);
    font-size: 24px;
}
.localização {
    font-size: 18px;
    color: var(--secondary-color);
    text-align: center;
    border: #ffffff 2px solid;
    border-radius: 5px;
    padding: 5px;   
    margin-bottom: 20px;
    padding: 10px;
}
.localização a {
    color: var(--secondary-color);
    text-decoration: none;
}
.localização:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-color: var(--primary-color);
}
.conforto {
    font-size: 18px;
    color: var(--secondary-color);
    text-align: center;
}